body
{
  animation-direction: normal;
  animation-duration: 7.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: gradient;
  animation-timing-function: ease;
	background: linear-gradient(-45deg, Red, #000000, #1a1a1a, #b6b6b6, #17a2b8, #23d5ab); /* animation runs through colours from right to left */
	background-size: 400% 400%;
  color: white; /* text colour */
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
  min-height: 100vh; /* minimum height of bosy = screen height */
  overflow: hidden; /* no scroll bars */
}

/* gradient animation movement */
@keyframes gradient
{
  /* animation starting position */
	0%
  {
		background-position: 0 50%;
	}
  /* animation end position */
	100%
  {
		background-position: 100% 50%;
	}
}

/* Rows and Columns */
.row
{
  display: flex;
  justify-content: center;
  width: 100%;
}

.w25
{
  text-align: center;
  width:25%;
}

.w50
{
  text-align: center;
  width:50%;
}

.w100
{
  text-align: center;
  width:100%;
}

a
{
  color: #23d5ab;
}

a:visited
{
  color: #b6b6b6;
}

a:hover
{
  color: #17a2b8;
  cursor:pointer;
}

/* Buttons */
.btn
{
  background: Transparent;
  border: 2px solid black;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 14px 28px;
  text-decoration: none;
}

/* white */
.white
{
  border-color: #e7e7e7;
  color: White;
}

.white:hover
{
  background: #e7e7e7;
  color: Black;
}

i
{
  color: #17a2b8;
}

footer
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
