.row
{
  display: flex;
  justify-content: center;
  width: 100%;
}

.w25
{
  text-align: center;
  width:25%;
}

.w50
{
  text-align: center;
  width:50%;
}

.w100
{
  text-align: center;
  width:100%;
}
